.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 16vh;
    left: 45vw;

    h3{
        color: #f4e603;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 50%;
        transition:         transform .5s ease-in-out;
      
        &:hover{
        box-shadow: 10px 5px 5px red;
        -webkit-transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
        }
    }
}